.DS_Store
node_modules
/.svelte-kit
/package
build
functions
/static/secret/
/static/images/cards/

# dotenv environment variable files
.env*

etsy_shop_json.txt
# Local Netlify folder
.netlify

/.vercel_build_output